@define-color foreground #eeeeee;
@define-color foreground-inactive #555555;
@define-color background #000000;
@define-color urgent #D1A260;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.35em;
    padding-right: 0.35em;
}

#workspaces button.urgent {
    color: @urgent
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em 
}